<h1>宿検索</h1>
<div>
  <table>
    <% @inns.each do |inn| %>
      <tr>
        <th class="inn_th"><%= link_to "#{inn.name}", "/inns/#{inn.id}", {class: "index_inn_name"} %></th>
        <td class="inn_td">
          <ul>
            <li class="index_inn_info"><%= "#{inn.price}円/人" %></li>
            <li class="index_inn_info"><%= "エリア：#{inn.area}" %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
</div>

